.card{
        width:500px;
        max-width: 90%;
        height:300px;
        background-color:#3b3d40;
        padding:20px;
        border-radius: 10px;
        text-align:center;
}
.heading{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
}